/*Poppins font regular */
@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Regular.ttf");
	src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Italic.ttf");
	src: url("assets/fonts/Poppins-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
/*Poppins font bold */
@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Bold.ttf");
	src: url("assets/fonts/Poppins-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-BoldItalic.ttf");
	src: url("assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-ExtraBold.ttf");
	src: url("assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-ExtraBoldItalic.ttf");
	src: url("assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}
:root {
	--black: hsl(0, 0%, 8%);
	--purple: hsl(259, 100%, 65%);
	--light-grey: hsl(0, 0%, 86%);
	--grey: hsl(0, 1%, 44%);
	--red: hsl(0, 100%, 67%);
	--line: hsl(0, 0%, 94%);
	--white: hsl(0, 0%, 100%);
	--drop-shadow-1: 0px 32px 56px hsla(0, 0%, 0%, 0.15);
	--drop-shadow-2: 0px 32px 56px hsla(15, 51%, 36%, 0.1);
}
body {
	font-family: Poppins, sans-serif;
	background-color: var(--line);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.project-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}
.calculator-box {
	background-color: var(--white);
	border-radius: 24px 24px 200px 24px;
	display: flex;
	flex-direction: row;
	margin: auto auto 1rem;
	overflow-x: hidden;
}
.calculator-box--container {
	margin: 3rem 1.5rem;
	position: relative;
}
header {
	color: var(--grey);
}
form label {
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 3.5px;
	font-style: normal;
	text-transform: uppercase;
}
form input {
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: 3px;
	font-style: normal;
	padding: 0.75rem 2.85rem 0.75rem 1rem;
	border-radius: 8px;
	border: 1px solid var(--line);
}
button {
	background-color: var(--purple);
	border-radius: 216px;
	width: 4rem;
	height: 4rem;
	padding: 20px;
	border: none;
}
button svg {
	width: 24px;
	height: 24px;
}
button svg g {
	stroke-width: 4px;
}
button span {
	display: none;
}
h1 {
	font-size: 3.5rem;
	font-style: italic;
	font-weight: 800;
	line-height: 110%;
	letter-spacing: -1.12px;
}
.header--form-inputs-container {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}
.input-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: left;
}
.header--form-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.calculated-numbers {
	color: var(--purple);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 620px) {
	.calculator-box {
		max-width: 840px;
		max-height: 651px;
	}
	form label {
		font-size: 0.88rem;
	}
	form input {
		font-size: 2rem;
	}
	h1 {
		font-size: 6.5rem;
	}
}
